* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
	height: 100vh;
	background: rgb(173, 216, 230);
	color: rgb(61, 87, 95);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}

body > * {
	width: min(600px, 95%);
	margin-bottom: 10px;
}

.container {
	border: 1px solid yellow;
	box-shadow: 0 20px 30px rgba(61, 87, 95, .2);
	position: relative;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container h1 {
	-webkit-text-stroke: 3px yellow;
	-webkit-text-fill-color: rgba(0, 0, 0, 0);
	font-size: clamp(40px, 35vw, 250px);
}

.container img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
	opacity: .7;
}

.scripts {
	background: #fff;
	padding: 10px 50px;
	font-size: clamp(20px, 3vw, 30px);
}
ol {
	line-height: 1.4;
}
.console {
	background: rgb(61, 87, 95);
	color: lightblue;
	text-align: center;
	font-weight: lighter;
	padding: 10px;
	font-size: clamp(20px, 3vw, 30px);
}
